.container{
width: 100%;
display: flex;
align-items: start;

}
.box{
display: inline-block;
width: 65%;
margin: 10px;
}
.box2 {
    display: inline-block;
        width: 35%;
        margin: 10px;
}
p input{
    
    text-align: right;
    border: none;
}
.title_cupon{
    font-weight: bold;
    font-size: 17px;
}
.title_total {
    font-size: 20px;
}

.background_summary{
    background-color: #fdfdfd;
        border: 1px solid #ccc;
        border-radius: 10px;
        margin: 5px;
        padding: 10px;
}

.style_input{
    margin: 4px;
    text-align: center;
    color: aqua;
    
}
.style_input input {
    text-align: center;
   font-size: 18px;

}
.general{
    display: flex;
    justify-content: center;
    width: 100%;
        
}
.background_summary2 {
    
    margin: 0 auto;
    
    background-color: #fdfdfd;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    width: 85%;
    
}
.background_products{
    width: 80%;
}