.botonCarrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 5%;
}

.botonCarrito button {
    font-family: Arial;
    font-size: 20px;
    color: white;
    background-color: gray;
    padding: 5px 10px;
    /* width: 100%; */
    pointer-events: none;
    font-weight: bold;
    user-select: none;
}

.botonCarrito div h1 {
    font-family: Arial;
    font-size: 45px;
}